.about {
  padding: 0.3rem;
  height: 100%;
  // margin-top: 55%;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  overflow-y: visible;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  h1 {
    padding: 1rem 0;
    font-size: 4em;
    color: #99ff99;
    animation: fade-down 1s linear;
  }
  h2 {
    text-align: start;
    padding: 1rem 0;
    animation: shine-in 1s ease-in;
  }
  h3 {
    font-size: 1.3rem;
    background: linear-gradient(90deg, transparent, white 0%);
    background-repeat: no-repeat;
    background-size: 300%;
    background-clip: text;
    color: transparent;
    animation: shine-in 2s ease-in;
  }
}

.portfolio {
  @extend .about;
  width: 100%;
  align-items: start;
  transform: translateX(-8px);
  // background-color: green;
  .title-card {
    // background-color: red;
    display: flex;
    width: 100%;
    // justify-content: space-between;
    align-items: center;
    // padding-bottom: 3px;

    animation: fade-up-delay 1.5s;
    h3 {
    }
    img {
      margin: 6px 1.6rem 0 1.5rem;
      height: 1.4rem;
      filter: invert(90%) sepia(13%) saturate(205%) hue-rotate(159deg)
        brightness(91%) contrast(89%);
      cursor: pointer;
      color: #c2cfd7;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  // background-color: green;
}

.portfolio-home {
  @extend .about;
  width: 100%;

  align-items: start;
  // background-color: red;
  margin-top: 0%;
  h3 {
    animation: shine-in 1.3s ease-in;
  }
}
.bio {
  @extend .about;
  width: 100%;
  height: 100vh;
  // justify-content: start;
  align-items: start;
  // height: 100vh;
  // margin-top: 25%;
  // background-color: #4c697a;
  .bio-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  // align-items: center;
  // justify-content: center;
  h1 {
    font-size: 2.5em;
    // background-color: green;
    padding-left: 2%;
  }
  p {
    animation: shine-in 2s ease-in;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }
  .left {
    width: 60%;
    .left-sub {
      // background-color: green;
      animation: fade-in 2s;
      border-left: 3px $leftbar solid;
      padding: 0 2%;
    }
  }

  .right {
    .right-sub {
      // background-color: #c2cfd7;
      display: flex;
      flex-direction: column;
      border-left: 3px $leftbar solid;
      padding-left: 2%;
      animation: fade-in 2s;
      p {
        margin-left: 0.5rem;
        margin-bottom: 0;
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 2px 4px;
    width: 100%;
    margin-top: -1rem;
    // background-color: red;
    li {
      // padding: 8px 1px;
      text-align: start;
      margin-top: 5px;

      transition: 0.4s;
      display: flex;
      padding-top: 2rem;
      // padding-top: 0.5rem;
      animation: sweep-in 1.3s ease-in;
      font-weight: 700;
      color: rgb(196, 196, 196);
    }
    li::before {
      content: "\25F9";
      display: inline-block;
      margin-right: 0.5rem;
      color: #6fbbdb;
    }
  }
}

@counter-style wedges {
  system: cyclic;
  symbols: "\25F9";
  suffix: " ";
  color: red;
}

@keyframes sweep-in {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 380px) {
  .bio {
    width: 100%;
    .bio-grid {
      padding-top: 40%;
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 0.9rem;
        // margin-bottom: 1rem;
        width: 95%;
      }
      h3 {
        font-size: 1.1rem;
      }

      .right {
        ul {
          padding: 0;
          font-size: 0.9rem;
          width: 90%;
          margin-bottom: 0.1rem;
          grid-template-columns: 1fr 1fr;
          li {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .bio {
    .left {
      width: 50%;
    }
    .right {
      width: 43%;
    }
    ul {
      width: 100%;
      li {
        padding-top: 2.2rem;
      }
    }
  }
}
@media (max-width: 800px) {
  .navbar {
    .site-title {
      padding-left: 10px;
    }
  }
  .bio {
    overflow: auto;
    justify-content: start;
    padding-right: 1rem;
    margin-left: 0;
    .bio-grid {
      // margin-top: 30%;
      padding-top: 8%;
      flex-direction: column;
      justify-content: start;

      .left {
        width: 100%;
      }
      .right {
        width: 100%;

        ul {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .about {
    margin-left: 0;
  }
  .bio {
    // margin-top: 45%;
    // padding-top: 35%;
    .bio-grid {
      padding-top: 8%;
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
        ul {
          margin-left: 3%;
          grid-template-columns: 0.8fr 0.9fr 1.1fr;
        }
      }
    }
  }
  .portfolio {
    margin-top: -7%;
  }
  .hero {
    margin-top: -10%;
  }
}
@media (max-width: 400px) {
  .bio {
    .bio-grid {
      .right {
        ul {
          margin-left: 0;
          // grid-template-columns: 0.8fr 0.9fr 1.1fr;
          grid-template-columns: 30% 31% 39%;
        }
      }
    }
  }
  .portfolio {
    margin-top: -7%;
  }
  .hero {
    margin-top: -10%;
  }
}

@media (max-width: 380px) {
  .portfolio-home {
    h3 {
      font-size: 1.2rem;
    }
    h4 {
      padding: 9px;
      font-size: 0.9rem;
    }
  }
  .bio {
    .bio-grid {
      .right {
        ul {
          width: 100%;
          margin-left: -5%;
          // grid-template-columns: 30% 31% 39%;
          li {
            padding-right: 0;
            padding-top: 1.5rem;
          }
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .portfolio-home {
    h3 {
      font-size: 1.1rem;
    }
    h4 {
      padding: 8px;
      font-size: 0.8rem;
    }
  }
  .bio {
    .bio-grid {
      .right {
        p {
          font-size: 14px;
        }
        ul {
          margin-left: 2%;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .hero {
    margin-top: 0;
  }
}
