h1 {
  background-image: linear-gradient(90deg, #6fbbdb, #97b9e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: -0.03em;
  font-family: Mark Pro, sans-serif;
  animation: fade-down 1s linear;
}

.hero {
  // padding-bottom: 7rem;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  // background-color: grey;

  h2 {
    font-size: 2.5em;
    font-weight: 400;
    background: linear-gradient(90deg, transparent, white 0%);
    background-repeat: no-repeat;
    background-size: 300%;
    background-clip: text;
    color: transparent;
    animation: shine-in 1.2s ease-in;

    text-align: start;
  }
  h3 {
    animation: shine-in 1.2s ease-in;
  }
  .socials {
    animation: fade-up-delay 2s;
  }
}
.socials {
  display: flex;
  align-items: center;

  .btn {
    display: inline-block;
    background: #61a1bd;

    padding: 10px 16px;
    border-radius: 7px;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 700;
    height: 1.2rem;
    &:hover {
      opacity: 0.7;
    }
  }
  img {
    height: 2.3rem;
    margin-right: 20px;
    margin-top: 20px;
    filter: invert(87%) sepia(25%) saturate(2962%) hue-rotate(168deg)
      brightness(93%) contrast(83%);
  }
}

@media (max-width: 500px) {
  .hero {
    margin-left: 2rem;
  }
  h1 {
    font-size: 2.4rem;
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fade-up-delay {
  0%,
  50% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes shine-in {
  0% {
    opacity: 0;
    background-position: 200%;
  }

  100% {
    opacity: 1;
    background-position: 0%;
  }
}
