.project {
  margin: 10px 2px;
  animation: fade-in 3s;
  display: flex;
  flex-wrap: wrap;
  width: 2rem;

  flex-direction: column;
  justify-content: start;
  input {
    display: none;
  }
  input:checked + label + .tab {
    // opacity: 1;
    display: inline;
  }
  input:checked + label {
    color: white;
  }
  label {
    cursor: pointer;
    padding: 0.5rem 0;
    color: rgb(104, 104, 203);
    text-align: end;
  }
  .tab {
    display: none;
    animation: fade-in 1s;
    transition: 0.4s;
    padding: 0.5rem 0;
    position: absolute;
    z-index: 0;
    width: 72%;
    transform: translateX(4.5rem);
    border-top: 2px lightblue solid;
    // background-color: red;

    h4 {
      padding-bottom: 1rem;
      color: rgb(104, 104, 203);
    }
    p {
      padding-bottom: 0.7rem;
    }
    .cta {
      display: flex;
      border: 1px rgb(104, 104, 203) solid;
      width: 9.5rem;
      padding: 10px;
      margin-top: 0.5rem;
      font-weight: 700;
      animation: fade-up-delay 1s;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: lightblue;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.projects {
  display: flex;
  margin-top: 1rem;
  // margin-bottom: 4rem;
  flex-wrap: wrap;

  h4 {
    outline: 1px solid white;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      outline: 1px solid rgb(162, 130, 238);
    }
  }
}

@media (min-width: 600px) {
  .project {
    // margin-left: -3%;
    // margin-bottom: 5rem;
    .tab {
      width: 75%;
    }
  }
}

@media (min-width: 800px) {
  .project {
    // margin-left: -1.1%;
    // margin-bottom: 4rem;
    .tab {
      width: 65%;
    }
  }
}

@media (min-width: 1000px) {
  .project {
    // margin-left: -3.4%;
    // margin-bottom: 2rem;
    .tab {
      width: 65%;
    }
  }
}
