.project {
  margin: 10px 2px;
  animation: fade-in 3s;
  display: flex;
  flex-wrap: wrap;
  width: 2rem;
  flex-direction: column;
  justify-content: start;
  input {
    display: none;
  }
  input:checked + label + .tab {
    // opacity: 1;
    display: inline;
  }
  input:checked + label {
    color: white;
  }
  label {
    cursor: pointer;
    padding: 0.5rem 0;
    color: rgb(104, 104, 203);
    text-align: end;
  }
  .tab {
    display: none;
    animation: fade-in 1s;
    transition: 0.4s;
    padding: 0.5rem 0;
    position: absolute;
    z-index: 0;
    width: 72%;
    transform: translateX(4.5rem);
    border-top: 2px lightblue solid;
    h4 {
      padding-bottom: 1rem;
      color: rgb(104, 104, 203);
    }
    p {
      padding-bottom: 0.7rem;
    }
    .cta {
      display: flex;
      border: 1px rgb(104, 104, 203) solid;
      width: 9.5rem;
      padding: 10px;
      margin-top: 0.5rem;
      font-weight: 700;
      animation: fade-up-delay 1s;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: lightblue;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.portfolio-title {
  display: flex;
  flex-direction: column;
  // background-color: green;
  width: 100%;
  margin-left: 10%;
  h1 {
    background-color: red;
  }
}
.projects {
  display: flex;
  width: 100%;
  margin-top: 2.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: red;
  // margin-bottom: 4rem;
  flex-wrap: wrap;
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 1rem;
    // width: 92%;
    background-color: black;
    padding: 10px;
    border: 1px rgb(90, 123, 177) solid;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
    }
    .title-card {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      h4 {
        font-size: 1.5rem;
        font-family: "Play";
        padding-bottom: 1rem;
        background-image: linear-gradient(90deg, rgb(162, 130, 238), #c8b8f9);
        background-clip: text;
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    #recc {
      height: 16rem;
    }
    #note {
      height: 16rem;
    }
    #gats {
      height: 9rem;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      li {
        padding: 10px 5px;
        img {
          height: 3rem;
          width: auto;
          transition: 0.3s;
          &:hover {
            transform: translateY(-0.5rem);
          }
        }
      }
    }
  }
}

@keyframes scale-up {
  0% {
    // opacity: 0;
    transform: scale(0);
  }

  100% {
    // opacity: 0.5;
    transform: scale(1);
  }
}

@media (min-width: 600px) {
  .portfolio-home {
    align-items: start;
    // background-color: green;
    justify-content: start;
  }

  .projects {
    margin-left: 10%;
    // width: 90%;

    // width: auto;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    // background-color: grey;
    .project-card {
      width: auto;
      height: 24rem;
      margin-right: 2rem;
      &:hover {
        transform: translateY(-2rem);
      }
    }
    #recc {
      height: 6rem;
    }
    #note {
      height: 6rem;
    }
    #gats {
      height: 6rem;
    }
  }
}

@media (min-width: 800px) {
  .project {
    // margin-left: -1.1%;
    // margin-bottom: 4rem;
    .tab {
      width: 65%;
    }
  }
  .projects {
    #recc {
      height: 18rem;
    }
    #note {
      height: 22rem;
    }
    #gats {
      height: 8rem;
    }
  }
}

@media (min-width: 1000px) {
  .project {
    // margin-left: -3.4%;
    // margin-bottom: 2rem;
    .tab {
      width: 65%;
    }
  }
  .projects {
    #recc {
      height: 22rem;
    }
    #note {
      height: 26rem;
    }
    #gats {
      height: 12rem;
    }
  }
}
