@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1 {
  background-image: linear-gradient(90deg, #6f8adb, #97b9e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  -webkit-animation: fade-down 1s linear;
          animation: fade-down 1s linear;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100vh;
  margin-top: 45%;
}
.hero img {
  height: 10rem;
  border-radius: 5px;
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 5rem);
  z-index: -1;
  -webkit-animation: scale-in 2s ease-in;
          animation: scale-in 2s ease-in;
}
.hero h2 {
  font-size: 2.5em;
  font-weight: 400;
  background: linear-gradient(90deg, transparent, white 0%);
  background-repeat: no-repeat;
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: shine-in 1.2s ease-in;
          animation: shine-in 1.2s ease-in;
  text-align: start;
}
.hero h3 {
  -webkit-animation: shine-in 1.2s ease-in;
          animation: shine-in 1.2s ease-in;
}
.hero .socials {
  -webkit-animation: fade-up-delay 2s;
          animation: fade-up-delay 2s;
}

.socials {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.socials .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #74bbdc solid;
  padding: 10px 16px;
  border-radius: 7px;
  margin-right: 14px;
  font-weight: 700;
  height: 1rem;
}
.socials .btn:hover {
  opacity: 0.7;
}
.socials a {
  display: flex;
}
.socials img {
  height: 2.4rem;
  margin-right: 20px;
  filter: invert(87%) sepia(25%) saturate(2962%) hue-rotate(168deg) brightness(93%) contrast(83%);
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.1rem;
  }
}
@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-up-delay {
  0%, 50% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fade-up-delay {
  0%, 50% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes shine-in {
  0% {
    opacity: 0;
    background-position: 200%;
  }
  100% {
    opacity: 1;
    background-position: 0%;
  }
}
@keyframes shine-in {
  0% {
    opacity: 0;
    background-position: 200%;
  }
  100% {
    opacity: 1;
    background-position: 0%;
  }
}
@-webkit-keyframes scale-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes scale-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.project {
  margin: 10px 2px;
  -webkit-animation: fade-in 3s;
          animation: fade-in 3s;
  display: flex;
  flex-wrap: wrap;
  width: 2rem;
  flex-direction: column;
  justify-content: start;
}
.project input {
  display: none;
}
.project input:checked + label + .tab {
  display: inline;
}
.project input:checked + label {
  color: white;
}
.project label {
  cursor: pointer;
  padding: 0.5rem 0;
  color: rgb(104, 104, 203);
}
.project .tab {
  display: none;
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
  transition: 0.4s;
  padding: 0.5rem 0;
  position: absolute;
  z-index: 0;
  width: 72%;
  transform: translateX(4.5rem);
}
.project .tab h4 {
  padding-bottom: 1rem;
  color: rgb(104, 104, 203);
}
.project .tab p {
  padding-bottom: 0.7rem;
}
.project .tab .cta {
  display: flex;
  border: 1px rgb(104, 104, 203) solid;
  width: 9.5rem;
  padding: 10px;
  margin-top: 0.5rem;
  font-weight: 700;
  -webkit-animation: fade-up-delay 1s;
          animation: fade-up-delay 1s;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: lightblue;
}
.project .tab .cta:hover {
  opacity: 0.7;
}

.projects {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.projects h4 {
  outline: 1px solid white;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
.projects h4:hover {
  outline: 1px solid rgb(162, 130, 238);
}

@media (min-width: 600px) {
  .project .tab {
    width: 75%;
  }
}
@media (min-width: 800px) {
  .project .tab {
    width: 65%;
  }
}
@media (min-width: 1000px) {
  .project .tab {
    width: 65%;
  }
}
.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
}
.navbar .site-title {
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s;
  padding: 10px;
  padding-top: 1px;
  font-size: 1.3rem;
  font-weight: 700;
}
.navbar .site-title:hover {
  color: rgb(211, 211, 211);
}
.navbar .site-title:active {
  color: aquamarine;
}
.navbar .links {
  display: flex;
}
.navbar .links a {
  display: flex;
  padding: 8px;
  border-bottom: 3px solid transparent;
}
.navbar .links a:hover {
  border-color: white;
}
.navbar .links a:active {
  color: aquamarine;
}
.navbar .toggle-button {
  z-index: 2;
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: start;
  }
  .navbar .toggle-button {
    display: flex;
    cursor: pointer;
  }
  .navbar .toggle-button .bar {
    transition: 0.4s;
  }
  .navbar .links {
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .navbar .links a {
    transform: translateY(-300%);
    transition: 0.4s;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    font-size: 2rem;
  }
}
input {
  display: none;
}

input:checked ~ .toggle-button {
  margin-top: 10px;
}

input:checked ~ .toggle-button .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ .toggle-button .bar:nth-child(2) {
  display: none;
}

input:checked ~ .toggle-button .bar:nth-child(3) {
  transform: rotate(-45deg);
}

input:checked ~ .links {
  display: flex;
  -webkit-animation: fade-down 0.4s;
          animation: fade-down 0.4s;
  z-index: 1;
  position: absolute;
}
input:checked ~ .links:before {
  content: "";
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(rgb(25, 25, 25), rgba(36, 36, 36, 0.918), rgba(46, 46, 46, 0.847));
}
input:checked ~ .links a {
  z-index: 2;
}

input:checked ~ .links a {
  opacity: 1;
  visibility: visible;
  transform: translateY(-100%);
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about, .bio, .portfolio-home, .portfolio, .resume {
  padding: 0.3rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about h1, .bio h1, .portfolio-home h1, .portfolio h1, .resume h1 {
  padding: 1rem 0;
  font-size: 4em;
  color: #99ff99;
  -webkit-animation: fade-down 1s linear;
          animation: fade-down 1s linear;
}
.about h2, .bio h2, .portfolio-home h2, .portfolio h2, .resume h2 {
  text-align: center;
  padding: 1rem 0;
  -webkit-animation: shine-in 1s ease-in;
          animation: shine-in 1s ease-in;
}
.about h3, .bio h3, .portfolio-home h3, .portfolio h3, .resume h3 {
  font-size: 1.3rem;
  background: linear-gradient(90deg, transparent, white 0%);
  background-repeat: no-repeat;
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: shine-in 2s ease-in;
          animation: shine-in 2s ease-in;
}

.resume {
  justify-content: start;
  margin-top: 10%;
}

.portfolio {
  width: 100%;
  align-items: start;
}
.portfolio .title-card {
  display: flex;
  width: 100%;
  align-items: center;
  -webkit-animation: fade-up-delay 1.5s;
          animation: fade-up-delay 1.5s;
}
.portfolio .title-card h3 {
  padding-bottom: 3px;
  border-bottom: 2px lightblue solid;
  width: 90%;
}
.portfolio .title-card img {
  margin: 6px 2.6rem 0 0.5rem;
  height: 1.4rem;
  filter: invert(90%) sepia(13%) saturate(205%) hue-rotate(159deg) brightness(91%) contrast(89%);
  cursor: pointer;
  color: #c2cfd7;
}
.portfolio .title-card img:hover {
  opacity: 0.7;
}

.portfolio-home {
  align-items: start;
  margin-top: 0%;
}
.portfolio-home h3 {
  -webkit-animation: shine-in 1.3s ease-in;
          animation: shine-in 1.3s ease-in;
}

.bio .socials {
  -webkit-animation: shine-in 2s ease-in;
          animation: shine-in 2s ease-in;
  width: 100%;
  margin-top: 5px;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
.bio .socials .btn {
  margin-right: 1.2rem;
}
.bio h1 {
  font-size: 2.5em;
}
.bio p {
  -webkit-animation: shine-in 2s ease-in;
          animation: shine-in 2s ease-in;
  margin-bottom: 2rem;
  line-height: 1.7rem;
}
.bio h3 {
  color: rgb(214, 214, 214);
  width: 100%;
  text-align: center;
}
.bio .title-card {
  display: flex;
  align-items: center;
}
.bio .title-card img {
  margin-left: 4.5rem;
  height: 4rem;
  border-radius: 5px;
}
.bio .email {
  -webkit-animation: shine-in 2s ease-in;
          animation: shine-in 2s ease-in;
  color: #6fbbdb;
  padding: 2px 5px;
  margin-top: 10px;
}
.bio ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  width: 100%;
  padding: 2px 4px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 2px solid #6fbbdb;
  border-bottom: 2px solid #6fbbdb;
}
.bio ul li {
  padding: 0 1px;
  text-align: start;
  margin-top: 5px;
  transition: 0.4s;
  display: flex;
  margin-bottom: 1rem;
  -webkit-animation: sweep-in 1.3s ease-in;
          animation: sweep-in 1.3s ease-in;
  font-weight: 700;
  color: rgb(196, 196, 196);
}
.bio ul li::before {
  content: "◹";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6fbbdb;
}

@counter-style wedges {
  system: cyclic;
  symbols: "◹";
  suffix: " ";
  color: red;
}
@-webkit-keyframes sweep-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sweep-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 380px) {
  .bio {
    margin-top: 10%;
    width: 100%;
  }
  .bio h1 {
    font-size: 2em;
  }
  .bio p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    width: 95%;
  }
  .bio h3 {
    font-size: 1.1rem;
  }
  .bio ul {
    padding: 0;
    font-size: 0.9rem;
    width: 90%;
    margin-bottom: 0.1rem;
    grid-template-columns: 1fr 1fr;
  }
  .bio ul li {
    margin-left: 1rem;
  }
  .bio .socials {
    width: 90%;
  }
  .bio .socials .btn {
    font-size: 0.9rem;
    padding: 5px 10px;
    margin-right: 0.5rem;
  }
  .bio .socials img {
    height: 1.9rem;
    margin-right: 0.5rem;
  }
}
@media (max-width: 500px) {
  .bio {
    margin-top: 5%;
  }
  .bio ul {
    grid-template-columns: 0.95fr 0.95fr 1.05fr;
  }
  .portfolio {
    margin-top: -7%;
  }
  .hero {
    margin-top: -10%;
  }
}
@media (min-width: 600px) {
  .about, .resume, .portfolio, .portfolio-home, .bio {
    align-items: start;
  }
  .about ul, .resume ul, .portfolio ul, .portfolio-home ul, .bio ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about ul li, .resume ul li, .portfolio ul li, .portfolio-home ul li, .bio ul li {
    padding-left: 5px;
  }
  .bio h3 {
    text-align: start;
  }
  .bio .email {
    transform: translate(23rem, -2.6rem);
  }
  .bio .socials {
    justify-content: start;
  }
  .portfolio {
    margin-top: 0;
  }
}
@media (min-width: 300px) {
  .hero img {
    transform: translate(0, -11rem);
  }
}
@media (min-width: 500px) {
  .hero {
    margin-top: 0;
  }
  .hero img {
    transform: translateX(9rem);
  }
}
@media (min-width: 1000px) {
  .hero img {
    transform: none;
  }
}
@media (min-width: 800px) {
  .about, .resume, .portfolio, .portfolio-home, .bio {
    align-items: start;
  }
  .about ul, .resume ul, .portfolio ul, .portfolio-home ul, .bio ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about ul li, .resume ul li, .portfolio ul li, .portfolio-home ul li, .bio ul li {
    padding-left: 5px;
  }
}
.resume {
  overflow-y: visible;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.resume .resume-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resume h2 {
  color: #add8e6;
}
.resume img {
  height: 1.3rem;
  cursor: pointer;
  filter: invert(76%) sepia(8%) saturate(924%) hue-rotate(149deg) brightness(88%) contrast(86%);
}
.resume img:hover {
  opacity: 0.7;
}
.resume::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.resume ul {
  list-style-type: none;
  margin-bottom: 0.3rem;
  width: 100%;
  padding: 14px 4px;
}
.resume ul li {
  padding: 0 1px;
  text-align: start;
  transition: 0.4s;
  display: flex;
  margin-bottom: 1rem;
  -webkit-animation: sweep-in 1.3s ease-in;
          animation: sweep-in 1.3s ease-in;
  color: rgb(196, 196, 196);
}
.resume ul li::before {
  content: "◹";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6fbbdb;
}

.resume-block {
  margin-top: 1rem;
  width: 100%;
}
.resume-block .role {
  color: rgb(109, 109, 226);
}
.resume-block .title-card {
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.resume-block table {
  padding: 0.5rem 0;
}
.resume-block table th {
  text-align: start;
  padding: 0.3rem 0;
  padding-right: 1rem;
  color: rgb(109, 109, 226);
}
.resume-block table td {
  padding: 0.3rem 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

body {
  min-height: 100%;
  background: #10101a;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.layout {
  max-width: 1200px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
}
.layout .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}

footer {
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 16px;
  text-align: center;
  color: rgba(170, 170, 170, 0.646);
  padding: 1rem 0;
}

@media (min-width: 800px) {
  .layout {
    padding: 0 3rem;
  }
}
@media (min-width: 1000px) {
  .layout {
    padding: 0 5rem;
  }
}
@media (min-width: 1200px) {
  .layout {
    padding: 0 12rem;
  }
}/*# sourceMappingURL=styles.css.map */