@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1 {
  background-image: linear-gradient(90deg, #6f8adb, #97b9e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  -webkit-animation: fade-down 1s linear;
          animation: fade-down 1s linear;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100vh;
  margin-top: 45%;
}
.hero h2 {
  font-size: 2.5em;
  font-weight: 400;
  background: linear-gradient(90deg, transparent, white 0%);
  background-repeat: no-repeat;
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: shine-in 1.2s ease-in;
          animation: shine-in 1.2s ease-in;
  text-align: start;
}
.hero h3 {
  -webkit-animation: shine-in 1.2s ease-in;
          animation: shine-in 1.2s ease-in;
}
.hero .socials {
  -webkit-animation: fade-up-delay 2s;
          animation: fade-up-delay 2s;
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
  margin-left: 3px;
}
.hero .socials a {
  display: flex;
}
.hero .socials img {
  height: 2rem;
  margin-right: 15px;
  filter: invert(79%) sepia(6%) saturate(2859%) hue-rotate(181deg) brightness(88%) contrast(86%);
  color: #8bafd3;
}
.hero .socials img:hover {
  opacity: 0.7;
}
.hero .socials #email {
  height: 1.8rem;
  width: 2.3rem;
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 400px) {
  .hero h1 {
    font-size: 2.1rem;
  }
}
@media (max-width: 380px) {
  .hero h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 330px) {
  .hero h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  .socials .internals {
    margin-bottom: 1rem;
  }
}
@media (min-width: 600px) {
  .hero {
    margin-left: 3%;
  }
}
@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-up-delay {
  0%, 50% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fade-up-delay {
  0%, 50% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes shine-in {
  0% {
    opacity: 0;
    background-position: 200%;
  }
  100% {
    opacity: 1;
    background-position: 0%;
  }
}
@keyframes shine-in {
  0% {
    opacity: 0;
    background-position: 200%;
  }
  100% {
    opacity: 1;
    background-position: 0%;
  }
}
@-webkit-keyframes scale-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes scale-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.project {
  margin: 10px 2px;
  -webkit-animation: fade-in 3s;
          animation: fade-in 3s;
  display: flex;
  flex-wrap: wrap;
  width: 2rem;
  flex-direction: column;
  justify-content: start;
}
.project input {
  display: none;
}
.project input:checked + label + .tab {
  display: inline;
}
.project input:checked + label {
  color: white;
}
.project label {
  cursor: pointer;
  padding: 0.5rem 0;
  color: rgb(104, 104, 203);
  text-align: end;
}
.project .tab {
  display: none;
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
  transition: 0.4s;
  padding: 0.5rem 0;
  position: absolute;
  z-index: 0;
  width: 72%;
  transform: translateX(4.5rem);
  border-top: 2px lightblue solid;
}
.project .tab h4 {
  padding-bottom: 1rem;
  color: rgb(104, 104, 203);
}
.project .tab p {
  padding-bottom: 0.7rem;
}
.project .tab .cta {
  display: flex;
  border: 1px rgb(104, 104, 203) solid;
  width: 9.5rem;
  padding: 10px;
  margin-top: 0.5rem;
  font-weight: 700;
  -webkit-animation: fade-up-delay 1s;
          animation: fade-up-delay 1s;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: lightblue;
}
.project .tab .cta:hover {
  opacity: 0.7;
}

.projects {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.projects .proj {
  outline: 1px solid white;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.projects .proj:hover {
  outline: 1px solid rgb(162, 130, 238);
}
.projects .modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.374);
}
.projects a {
  -webkit-animation: scale-up 0.5s;
          animation: scale-up 0.5s;
  outline: 1px solid white;
  padding: 10px 10px 12px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10101a;
  cursor: pointer;
  transition: 1s;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}
.projects a:hover {
  outline: 1px solid rgb(162, 130, 238);
}
.projects a h4 {
  margin-bottom: 1rem;
  color: rgb(162, 130, 238);
  text-align: center;
}
.projects .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.projects .contents ul {
  list-style-type: none;
}
.projects .contents ul li {
  padding: 10px;
}
.projects .contents ul li::before {
  content: "◹";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6fbbdb;
}
.projects .contents img {
  height: 26rem;
  border-radius: 10px;
}

@-webkit-keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 600px) {
  .project .tab {
    width: 75%;
  }
}
@media (min-width: 800px) {
  .project .tab {
    width: 65%;
  }
}
@media (min-width: 1000px) {
  .project .tab {
    width: 65%;
  }
}
.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: fixed;
  z-index: 2;
  background: #10101a;
  font-size: 1.1rem;
  font-weight: 400;
  left: 0;
}
.navbar .site-title {
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s;
  margin: 10px;
  padding-left: 15px;
  font-size: 1.3rem;
  font-weight: 700;
}
.navbar .site-title:hover {
  color: rgb(211, 211, 211);
}
.navbar .site-title:active {
  color: aquamarine;
}
.navbar .links {
  display: flex;
  margin: 10px;
}
.navbar .links a {
  display: flex;
  padding: 8px;
  border-bottom: 3px solid transparent;
}
.navbar .links a:hover {
  border-color: white;
}
.navbar .links a:active {
  color: aquamarine;
}
.navbar .toggle-button {
  z-index: 2;
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: start;
  }
  .navbar .toggle-button {
    display: flex;
    cursor: pointer;
    margin-right: -10px;
  }
  .navbar .toggle-button .bar {
    transition: 0.4s;
  }
  .navbar .links {
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .navbar .links a {
    transform: translateY(-300%);
    transition: 0.4s;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    font-size: 2rem;
  }
}
input {
  display: none;
}

input:checked ~ .toggle-button {
  margin-top: 10px;
}

input:checked ~ .toggle-button .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ .toggle-button .bar:nth-child(2) {
  display: none;
}

input:checked ~ .toggle-button .bar:nth-child(3) {
  transform: rotate(-45deg);
}

input:checked ~ .links {
  display: flex;
  -webkit-animation: fade-down 0.4s;
          animation: fade-down 0.4s;
  z-index: 1;
  position: absolute;
}
input:checked ~ .links:before {
  content: "";
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(rgb(25, 25, 25), rgba(36, 36, 36, 0.918), rgba(46, 46, 46, 0.847));
}
input:checked ~ .links a {
  z-index: 2;
}

input:checked ~ .links a {
  opacity: 1;
  visibility: visible;
  transform: translateY(-100%);
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about, .resume, .bio, .portfolio-home, .portfolio {
  padding: 0.3rem;
  height: 100%;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  overflow-y: visible;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.about::-webkit-scrollbar, .resume::-webkit-scrollbar, .bio::-webkit-scrollbar, .portfolio-home::-webkit-scrollbar, .portfolio::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.about h1, .resume h1, .bio h1, .portfolio-home h1, .portfolio h1 {
  padding: 1rem 0;
  font-size: 4em;
  color: #99ff99;
  -webkit-animation: fade-down 1s linear;
          animation: fade-down 1s linear;
}
.about h2, .resume h2, .bio h2, .portfolio-home h2, .portfolio h2 {
  text-align: start;
  padding: 1rem 0;
  -webkit-animation: shine-in 1s ease-in;
          animation: shine-in 1s ease-in;
}
.about h3, .resume h3, .bio h3, .portfolio-home h3, .portfolio h3 {
  font-size: 1.3rem;
  background: linear-gradient(90deg, transparent, white 0%);
  background-repeat: no-repeat;
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: shine-in 2s ease-in;
          animation: shine-in 2s ease-in;
}

.portfolio {
  width: 100%;
  align-items: start;
  transform: translateX(-8px);
}
.portfolio .title-card {
  display: flex;
  width: 100%;
  align-items: center;
  -webkit-animation: fade-up-delay 1.5s;
          animation: fade-up-delay 1.5s;
}
.portfolio .title-card img {
  margin: 6px 1.6rem 0 1.5rem;
  height: 1.4rem;
  filter: invert(90%) sepia(13%) saturate(205%) hue-rotate(159deg) brightness(91%) contrast(89%);
  cursor: pointer;
  color: #c2cfd7;
}
.portfolio .title-card img:hover {
  opacity: 0.7;
}

.portfolio-home {
  width: 100%;
  align-items: start;
  margin-top: 0%;
}
.portfolio-home h3 {
  -webkit-animation: shine-in 1.3s ease-in;
          animation: shine-in 1.3s ease-in;
}

.bio {
  width: 100%;
  height: 100vh;
  align-items: start;
}
.bio .bio-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bio h1 {
  font-size: 2.5em;
  padding-left: 2%;
}
.bio p {
  -webkit-animation: shine-in 2s ease-in;
          animation: shine-in 2s ease-in;
  margin-bottom: 1rem;
  line-height: 1.7rem;
}
.bio .left {
  width: 60%;
}
.bio .left .left-sub {
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
  border-left: 3px rgb(197, 190, 0) solid;
  padding: 0 2%;
}
.bio .right .right-sub {
  display: flex;
  flex-direction: column;
  border-left: 3px rgb(197, 190, 0) solid;
  padding-left: 2%;
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
}
.bio .right .right-sub p {
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.bio ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 2px 4px;
  width: 100%;
  margin-top: -1rem;
}
.bio ul li {
  text-align: start;
  margin-top: 5px;
  transition: 0.4s;
  display: flex;
  padding-top: 2rem;
  -webkit-animation: sweep-in 1.3s ease-in;
          animation: sweep-in 1.3s ease-in;
  font-weight: 700;
  color: rgb(196, 196, 196);
}
.bio ul li::before {
  content: "◹";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6fbbdb;
}

@counter-style wedges {
  system: cyclic;
  symbols: "◹";
  suffix: " ";
  color: red;
}
@-webkit-keyframes sweep-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sweep-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 380px) {
  .bio {
    width: 100%;
  }
  .bio .bio-grid {
    padding-top: 40%;
  }
  .bio .bio-grid h1 {
    font-size: 2em;
  }
  .bio .bio-grid p {
    font-size: 0.9rem;
    width: 95%;
  }
  .bio .bio-grid h3 {
    font-size: 1.1rem;
  }
  .bio .bio-grid .right ul {
    padding: 0;
    font-size: 0.9rem;
    width: 90%;
    margin-bottom: 0.1rem;
    grid-template-columns: 1fr 1fr;
  }
  .bio .bio-grid .right ul li {
    margin-left: 1rem;
  }
}
@media (max-width: 1200px) {
  .bio .left {
    width: 50%;
  }
  .bio .right {
    width: 43%;
  }
  .bio ul {
    width: 100%;
  }
  .bio ul li {
    padding-top: 2.2rem;
  }
}
@media (max-width: 800px) {
  .navbar .site-title {
    padding-left: 10px;
  }
  .bio {
    overflow: auto;
    justify-content: start;
    padding-right: 1rem;
    margin-left: 0;
  }
  .bio .bio-grid {
    padding-top: 8%;
    flex-direction: column;
    justify-content: start;
  }
  .bio .bio-grid .left {
    width: 100%;
  }
  .bio .bio-grid .right {
    width: 100%;
  }
  .bio .bio-grid .right ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .about, .resume, .portfolio, .portfolio-home, .bio {
    margin-left: 0;
  }
  .bio .bio-grid {
    padding-top: 8%;
    flex-direction: column;
  }
  .bio .bio-grid .left {
    width: 100%;
  }
  .bio .bio-grid .right {
    width: 100%;
  }
  .bio .bio-grid .right ul {
    margin-left: 3%;
    grid-template-columns: 0.8fr 0.9fr 1.1fr;
  }
  .portfolio {
    margin-top: -7%;
  }
  .hero {
    margin-top: -10%;
  }
}
@media (max-width: 400px) {
  .bio .bio-grid .right ul {
    margin-left: 0;
    grid-template-columns: 30% 31% 39%;
  }
  .portfolio {
    margin-top: -7%;
  }
  .hero {
    margin-top: -10%;
  }
}
@media (max-width: 380px) {
  .portfolio-home h3 {
    font-size: 1.2rem;
  }
  .portfolio-home h4 {
    padding: 9px;
    font-size: 0.9rem;
  }
  .bio .bio-grid .right ul {
    width: 100%;
    margin-left: -5%;
  }
  .bio .bio-grid .right ul li {
    padding-right: 0;
    padding-top: 1.5rem;
  }
}
@media (max-width: 350px) {
  .portfolio-home h3 {
    font-size: 1.1rem;
  }
  .portfolio-home h4 {
    padding: 8px;
    font-size: 0.8rem;
  }
  .bio .bio-grid .right p {
    font-size: 14px;
  }
  .bio .bio-grid .right ul {
    margin-left: 2%;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 500px) {
  .hero {
    margin-top: 0;
  }
}
.resume {
  justify-content: start;
  margin: 10% 0 0 0;
  overflow-y: visible;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.resume .resume-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resume .resume-title h2 {
  color: #add8e6;
}
.resume .resume-title img {
  height: 1.3rem;
  cursor: pointer;
  filter: invert(76%) sepia(8%) saturate(924%) hue-rotate(149deg) brightness(88%) contrast(86%);
}
.resume .resume-title img:hover {
  opacity: 0.7;
}
.resume::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.resume ul {
  list-style-type: none;
  margin-bottom: 0.3rem;
  width: 100%;
  padding: 14px 4px;
}
.resume ul li {
  padding: 0 1px;
  text-align: start;
  transition: 0.4s;
  display: flex;
  margin-bottom: 1rem;
  -webkit-animation: sweep-in 1.3s ease-in;
          animation: sweep-in 1.3s ease-in;
  color: rgb(196, 196, 196);
}
.resume ul li::before {
  content: "◹";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6fbbdb;
}

.resume-block {
  margin-top: 1rem;
  width: 100%;
}
.resume-block .role {
  color: rgb(109, 109, 226);
}
.resume-block .title-card {
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.resume-block table {
  padding: 0.5rem 0;
}
.resume-block table th {
  text-align: start;
  padding: 0.3rem 0;
  padding-right: 1rem;
  color: rgb(109, 109, 226);
}
.resume-block table td {
  padding: 0.3rem 0;
}

@media (min-width: 600px) {
  .resume {
    margin: 10% 5% 0 5%;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

body {
  min-height: 100%;
  background: #10101a;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.layout {
  max-width: 1200px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
}
.layout .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}

footer {
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 16px;
  text-align: center;
  color: rgba(170, 170, 170, 0.646);
  padding: 1rem 0;
}/*# sourceMappingURL=styles.css.map */